<div class="container-fluid" style="margin-top: 20px;">
    <div class="row mat-elevation-z8">

        <div class="col-md-2">
            <img src="../assets/testImg.png" width="40px" height="40px">
        </div>
        <div class="col-md-10">
            <table>
                <tr> <td> Sai Teja </td></tr>
                <tr><td> saiteja@gamil.com </td></tr>
                <tr><td> 0987654321 </td></tr>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-md-9">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="My Projects">
                    <mat-vertical-stepper >
                        <mat-step >
                        first
                        </mat-step>
                        <mat-step>
                          second
                        </mat-step>
                      </mat-vertical-stepper>
                </mat-tab>
                <mat-tab label="My Blog"></mat-tab>
                <mat-tab label="Skills"></mat-tab>
                <mat-tab label="Experience"></mat-tab>
                <mat-tab label="Contact"></mat-tab>

            </mat-tab-group>
        </div>
        <div class="col-md-3">
            <div>
                <h4> Overview </h4>
            </div>
            <div>
                I am a DevOps engineer and I'm ready to Break the Development-Operations barrier and give you more time to innovate. As one Great Philosopher said "Only skill defines a person" and I found this skill in my self and chose This Stream which makes me happy and encourages me to do to more. A few months ago I have read the Blog regarding DevOps and got to know It is a unique and very good software development methodology. So at that time, I decided to try this handshake firm which makes the connection between development and operation And Today I can proudly say that I'm a DevOps engineer. I think I have sufficient knowledge and skill so I can work to break the barrier and automates the processes between software development and IT teams.
            </div>
        </div>
    </div>
</div>