/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';
/* @import '~ngx-ui-switch/ui-switch.component.scss'; */

html, body{
  font-family: 'Times New Roman', Times, serif;
}

::ng-deep .cdk-overlay-container {
  z-index: 12000 !important;
}

.mat-icon {
  font-feature-settings: "liga";
}

#toast-container > div {
  opacity: 1;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 9999!important;
  /* position: fixed */
}
